<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @airplane.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @airplane.description %>
</p>

<p>
  <strong>Big field:</strong>
  <%= @airplane.big_field %>
</p>

<%= link_to 'Edit', edit_airplane_path(@airplane) %> |
<%= link_to 'Back', airplanes_path %>
